body	{
	background-color: green;
}
.Title	{
	color: black;
	background-color: blue;
 	font-size: 36px;
 	text-align: center;
 	font-family: Arial;

}
.Ridge	{
	color: red;
	text-align: left;
	font-size: 20px
}
.Ryan	{
	color: red;
	text-align: left;
	font-size: 20px
}
.Aaron	{
	color: red;
	text-align: left;
	font-size: 20px
}
.Devonte	{
	color: red;
	text-align: left;
	font-size: 20px
}